body {
  color: white;
  height: 100vh;
  padding: 40px;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://mega.com.vn/media/news/1507_hinh-nen-spider-man-dep7.jpg");
  /* background-size: cover, cover, cover; */
  background-position: center, center, center;
  /* background-repeat: no-repeat, no-repeat, no-repeat; */
}
.container {
  background-color: rgba(222, 208, 208, 0.274);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(159, 212, 210, 0.356);
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#question-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
.question-card {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.question-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
#answer-buttons button {
  margin: 0 5px;
}
.modal-content {
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
  border-radius: 10px;
}
.timeSecon {
  color: red;
  font-weight: bold;
  font-size: 25px;
}
.btnCauhoi {
  min-width: 50px;
  min-height: 50px;
}
