body {
  color: white;
  height: 100vh;
  padding: 40px;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://res.ldrescdn.com/rms/ldplayer/process/img/34535f71fedb49f8ba61ac4202c11cd41719216027.webp");
  /* background-size: cover, cover, cover; */
  background-position: center, center, center;
  /* background-repeat: no-repeat, no-repeat, no-repeat; */
}
.container {
  background-color: #403b3b45;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(116, 125, 125, 0.356);
}
.bg {
  position: relative;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
#question-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
.question-card {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.question-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
#answer-buttons button {
  margin: 0 5px;
}
.modal-content {
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
  border-radius: 10px;
}
.timeSecon {
  color: red;
  font-weight: bold;
  font-size: 25px;
}
.btnCauhoi {
  min-width: 50px;
  min-height: 50px;
}
.back {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border: 2px solid #fff;
  padding: 7px;
  border-radius: 10px;
  transition: all 0.2s linear;
  outline: none;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 10px;
}
.back:hover {
  background-color: #fff;
  color: black;
}
@media screen and (max-width: 767.98px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("https://inkythuatso.com/uploads/thumbnails/800/2022/06/hinh-nen-spider-man-cho-dien-thoai-15-inkythuatso-06-14-43-39.jpg");
  }
  .back {
    font-size: 17px;
    top: -30px;
    left: -30px;
  }
}
